<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <div class="error-icon mb-4">
        <i class="fas fa-exclamation-triangle fa-5x text-warning"></i>
      </div>
      <h1 class="display-4">Error {{code}}</h1>
      <p class="lead">{{error}}</p>
      <a href="/" class="btn btn-primary mt-3">
        <i class="fas fa-home"></i> Volver al Inicio
      </a>
    </div>
  </div>
</div>
